
body {
    background-color: rgb(226, 155, 155);
}
h1{
    color: red;
    
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    background-color: black;
    margin-bottom: 20px;
   
}

#personal1{

font-size: 25px;
font-family: monospace;
margin: 3cm;


}

#personal2{
  
    font-size: 25px;
    font-family: monospace;
    margin: 3cm;
    }

footer {
    font-size: 40px;
    color: red;
    background-color: black;
    text-align: center;
    font-family: fantasy;
    padding: 40px;
   
}

.personalPic {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  margin-top: 50px;

}

#myWork {
    font-size: 25px;
    font-family: monospace;
    margin: 3cm;
}

header{
    background-color: black;
    height: 150px;
    
    
  
    
}

header ul li a {

  color:red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 
}

header ul li {
    display: inline;
    margin-bottom: 40px;
    margin-left: 50px;
    text-align: center;
    background-color: gray;
    
}
